.searchBar {
    background: rgb(195,181,197);
    background: linear-gradient(0deg, var(--clr-light-pink) 0%, var(--clr-cyan-2) 100%);    
    min-height: 100vh;
    padding-block: var(--gutter-medium) 1rem;
}

.searchBar__form {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    gap: 25px;
    width: 100%;
    max-width: 700px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

    & .searchBar__input{
        border: none;
        background-color: transparent;
        padding: 1rem;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}

.searchBar__container-results {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-auto-rows: minmax(175px, 200px);
}

.searchBar__loadMore-btn {
    display: block;
    margin: auto;
}