.gif {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    
    & .gif__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    & .gif__heart {
        position: absolute;
        top: 0;
        right: 0;
        fill: red;
        cursor: pointer;
    }
    
    & .gif__copy-icon {
        position: absolute;
        right: 0;
        bottom: 0;
        fill: var(--clr-light);
        cursor: pointer;
        border-radius: 20%;


        &:not(:active) {
            /* now keep animation for 1s */
            transition: all 1000ms;
        }
        
        &:active {
            background: black;
        }
    }
}
