//typography
.title {
    font-size: var(--fs-huge);
    color: var(--clr-brown);
    font-weight: var(--fw-extra-bold);
}

.subtitle {
    font-size: var(--fs-large);
    color: var(--clr-brown);
    font-weight: var(--fw-extra-bold);
}

.paragraph {
    font-weight: var(--fw-semi-bold);
    color: var(--clr-brown);
}   

//button
.btn {
    cursor: pointer;
    color: var(--clr-light);
    background-color: var(--clr-brown);
    padding: 1.25rem 2.5rem;
    border-radius: 5rem;
    font-weight: var(--fw-extra-bold);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-regular);
    transition: opacity .1s ease-in;
    opacity: 0; // for gsap
    
    &:hover {
        opacity: .9 !important; //needs important or else gsap overwrites it
    }
}

.btn--light {
    font-weight: var(--fw-regular);
}

//gutter
.gutter-medium {
    padding-inline: var(--gutter-medium);
}