* {
    //general
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    //typography
    font-family: var(--ff-montserrat);
    font-size: var(--fs-normal);
}

html {
    font-size: 62.5%; //(16/10)*100 = 62.5% => 1rem = 10px
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    font: inherit;
    border: none;
    cursor: pointer;
}

img {
    display: block;
}